.DS_Store
.idea
.htaccess
.env
.phpunit.result.cache

# Ignore all vendor files included by composer and the lock file
/vendor
composer.lock
node_modules

# Put File Database no gitignore, create a database.example
/config/database.php